{% extends "base.html.twig" %}

{% block body %}
	<div class="container mt-5 mb-3">
		<div class="row d-flex justify-content-center">
			<div class="col-md-8">
				<div class="card">
					<div class="d-flex flex-row p-2">
						<img class= "pe-2" src="https://image.freepik.com/vecteurs-libre/dessines-main-camping-logo-templates_23-2147542188.jpg" width="150">
						<div class="d-flex flex-column">
							<span class="font-weight-bold">Facture Camping</span>
							{% for factureone in facture %}
								<small>n°{{factureone.numeroIdentification }}
								</small>
								<span>Date de facturation: {{factureone.dateFacturation|date("d/m/Y")}}</span>
							{% endfor %}
						</div>
					</div>
					<hr>
					<div class="table-responsive p-2">
						<table class="table table-borderless">
							<tbody>
								<tr class="add">
									<td>To</td>
									<td>From</td>
								</tr>
								<tr class="content">
									<td class="font-weight-bold">
										{% for oneclient in client %}
											{{oneclient.Nom ~ " " ~ oneclient.Prenom}}
											<br>{{oneclient.adresse}}</td>
									{% endfor %}
									<td class="font-weight-bold">
										{% for onelocation in location %}
											{{onelocation.Bien.Proprietaire.Nom}}
											<br>
											{{onelocation.Bien.Proprietaire.adresse}}</td>
									{% endfor %}
								</tr>
							</tbody>
						</table>
					</div>
					<hr>
					<div class="products p-2">
						<table class="table table-borderless">
							<tbody>
								<tr class="add">
									<td class="text-left">Reference</td>
									<td class="text-left">Description</td>
									<td class="text-center">Prix</td>
								</tr>
								{% for oneLigneFacture in ligneFacture %}

									<tr class="content">
										<td>{{oneLigneFacture.reference}}</td>
										<td>{{oneLigneFacture.libelle}}</td>
										<td class="text-center">{{oneLigneFacture.prix}}
											€</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<hr>
					<div class="products p-2">
						<table class="table table-borderless">
							<tbody>
								<tr class="add">
									<td></td>
									<td></td>
									<td class="text-center">Total</td>
								</tr>
								<tr class="content">
									{% set total = 0 %}
									{% for oneLigneFacture in ligneFacture %}
										{% set total = total + oneLigneFacture.prix %}
									{% endfor %}
									<td></td>
									<td></td>
									<td class="text-center">{{total}}
										€</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
{%  endblock %}