{% extends "base.html.twig" %}

{% block body %}
	<div class="jumbotron text-capitalize text-center">
		<h2>Liste édité à partir de
			{{ biens[0].Type}}</h2>
	</div>
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="row d-flex flex-row justify-content-center">
					{% for bien in biens %}
						<div class="card mb-4 me-4" style="width: 30%;">
							<div class="card-body">
								<h4 class="card-title">{{ bien.Type }}</h4>
								<h4 class="card-title">{{ bien.Proprietaire }}</h4>

								{#            <a href="/detail/{book.id}" class="btn btn-primary btn-sm">détail</a>#}
								{# <a href="{{ path('det', { id: book.id } ) }}" class="btn btn-primary btn-sm">détail</a> #}
								<img class="card-img" src="{{ vich_uploader_asset(bien, 'imageFile') }}"></img>
						</div>
						<div class="card-footer">
							<a class="btn btn-primary" href="{{path('det',{id: bien.id})}}" role="button">Détail</a>
						</div>

					</div>
				{% endfor %}
				<div>
					<div class=" d-flex justify-content-end">
						{{ knp_pagination_render(biens) }}
					</div>
                    <div>
                        <a href="{{path("home")}}">home</a>
                    </div>
				</div>

			</div>

		</div>
	</div>


</div>{% endblock %}{% block title %}Bienvenue{% endblock %}
