{% extends 'base.html.twig' %}

{% block title %}Bien{% endblock %}

{% block body %}
    <h1>Bien</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Propriétaire</th>
                <td>{{ biens.Proprietaire.Nom }}</td>
            </tr>
            <tr>
                <th>Type de bien</th>
                <td>{{ biens.Type.Label }}</td>
            </tr>

            <tr>
                <th>Image</th>
                <td><img src="{{ vich_uploader_asset(biens, 'imageFile') }}" alt=""></td>
            </tr>
            <tr>
                <th>Prix par jour</th>
                <td>{{ biens.Type.Prix}}€</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('lb') }}">back to list</a>

    {# {% include "location/new.html.twig" with {'form' : form} %} #}
    {{render(path('location_new',{id : biens.id}))}}

{% endblock %}
